body {
  height: 100vh;
}

form {
  padding: 3rem;
  padding-bottom: 0;
  color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form #boxPhoto {
  width: 100%;
  height: calc(100vw - 4rem);
  display: block;
  background-image: url("/images/complaint-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

form #complaintPhoto,
form #userPhoto {
  position: absolute;
  visibility: hidden;
  top: -2000rem;
}

form fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  width: 100%;
}

form label {
  margin-bottom: 1rem;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 2.6rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--color2);
}

form i {
  font-size: 2.5rem;
  align-self: center;
  margin-top: 1rem;
}

form textarea {
  height: 7rem;
}

form button {
  border-radius: 2rem;
  background-color: var(--color2);
  padding: 1rem;
  color: var(--color3);
  outline: 0;
  border: none;
}

footer {
  text-align: center;
}

footer a {
  color: var(--color1);
}

@media only screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 60rem;
    border: 1px solid var(--color4);
    border-radius: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    flex-direction: row;
  }

  form #boxPhoto {
    width: 30rem;
    height: 30rem;
    flex: 1;
    margin-right: 2rem;
  }

  form fieldset {
    flex: 1;
  }
}
